
<section class="about-wrapper " id="about">
    <h2 class="section-title">About</h2>
        <div class="about-container">
            <div class="about-img">
                <img src="/img/myImg-min.png" alt="authors pics" />
            </div>
            
            <div class="about-details">
                <h2 class="about-subtitle">I'am Abayomi</h2>
                <p class="about-text">I work to create innovative solutions that inspires and foster memorable relationships between brands ands and their clients. With focus in Backend and FrontEnd Development, I strive to create scalable and reusable products through elegant but efficient co and modern web practices.</p>           
            </div>                                   
        </div>
</section>
