<body>

<section class="contact-wrapper" id="contact">
    <h2 class="section-title">Contact</h2>
      <div class="contact-container">
          <form action="/form" method="POST"  class="contact-form">     
              <input type="text" name="name" placeholder="Name" class="contact__input" />
              <input type="email" name="email" placeholder="Email" class="contact__input"  />
              <textarea name="message" id="message" cols="0" rows="10" class="contact__input" placeholder="Type message here..." ></textarea>
                 <button class="submit-button">Submit</button>
            </form>
      </div>
</section>

            </body>
