    <section class="footer-wrapper">
    <footer class="footer">
            <div class="footer__social">
                <a href="https://web.facebook.com/ogunnusi.J.simple/" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="https://www.instagram.com/drsimplegraffiti/" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="https://twitter.com/drsimplegraffi1" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p class="footer-links">
					<a href="/" class="link-1">Home</a>
											
					<a href="#about">About</a>
					
					
					<a href="#contact">Contact</a>
				</p>
            <p>&#169; Abayomi © 2021 copyright</p>
        </footer>
        </section>