
            <section class="hero-wrapper" id="hero">
                <div class="hero-data">
                    <h1 class="hero-heading">Hi,<br />I'm <span class="hero-span">Abayomi</span><br />WEB DEVELOPER</h1>

                    <a href="#contact" class="hero-button">Hire me</a>
                </div>


                <div class="hero-img">    
                    <img src="/img/yomi.png" alt="the authors pics" />
                </div>
            </section>