


<section class="resume-wrapper " id="resume">
    <h2 class="section-title">Resume</h2>
        <div class="resume-container">
            <div class="resume-img">
                <img src="/img/cv.jpg" alt="authors pics" />
            </div>                                
        </div>
</section>
