<section class="skills-wrapper" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills-container">          
                    <div>
                        <h2 class="skills__subtitle">Professional Skills</h2>
                        <p class="skills__text">My tools and Languages are :
HTML5, CSS3, JavaScript, NodeJs, ExpressJs, MongodB, React Js, Bootstrap, Postman.</p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-react skills__icon'></i>
                                <span class="skills__name">Front-End Development</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">🎯</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-nodejs skills__icon'></i>
                                <span class="skills__name">Back-End Development</span>
                            </div>
                            <div class="skills__bar skills__css">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">🎯</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-dev-to skills__icon'></i>
                                <span class="skills__name">Blogging</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">🎯</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">Graphics Design</span>
                            </div>
                            <div class="skills__bar skills__ux">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">🎯</span>
                            </div>
                        </div>
                    </div>
                    
                    <div>              
                        <img src="/img/laptp-min.jpg" alt="" class="skills__img" />
                    </div>
                </div>
            </section>